/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
   font-family: 'Poppins';
   color: #FFFFFF;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
   
   
}
.header{
   background:url('../img/headback.jpg');
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   
}
.header__top {
   
   margin-bottom:calc(40px + (190 - 40) * ((100vw - 320px) / (1210 - 320))); 
    
}
.header__conteiner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height:calc(80px + (120 - 80) * ((100vw - 320px) / (1210 - 320))); 
   
   
}
.conteiner {
   max-width: 1210px;
   padding: 0px 15px;
   margin: 0px auto;
}
.header__logo {
   font-weight: 500;
   font-size: 48px; 
   line-height: 1.5;
   
}
.head__main {
   font-weight: 500;
   font-size:24px;
   line-height: 1.5;
   display: flex;
}
.head__main ul{
   display: flex;
   column-gap: 50px;
}
.head__main ul li a{
   color: #FFFFFF;
}
.head__main ul li a:hover{
   color: #fa3232;
   text-decoration: underline;
   transition: all 0.3s ease 0s;
}
.menu__icon{
   display: none;
   position: relative;
   height: 20px;
   width: 30px;
}

.menu__icon span{
   position: absolute;
   background-color: black;
   left: 0;
   width: 100%;
   height: 10%;
   top: 9px;
   transition: all 0.3s ease 0s;
}
.menu__icon::after,
.menu__icon::before{
   content:"";
   background-color: black;
   position: absolute;
   width: 100%;
   left: 0;
   height: 10%;
   transition: all 0.3s ease 0s;

}

.menu__icon::before{
   top: 0;
}
.menu__icon::after{
   bottom: 0;
}
@media(max-width:568px){
	.head__main {
		position: absolute;
      top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
      background-color: #ffffff;
      opacity: 0.7;
    	transition: all 0.3s ease 0s;
      
	}
  
   .head__main ul {
      flex-direction: column;
      font-size: 30px;
      row-gap: 15px;
      padding-left: 15px;
      
      
   }
   .head__main ul li a{
      font-size: 35px;
      color: black;
      
   }
   ._actived{
      top: 70px;
      
   }
	
	.menu__icon{
		display: block;
	  }
	  
	  ._active::before{
		transform: rotate(45deg);
		top: 9px;
	  }
	  ._active::after{
			transform: rotate(-45deg);
			bottom: 9px;
	  }
		._active span{
		  transform: scale(0);
		}  


}
	
@media(max-width:1210px){
   .header__logo{
      font-size:calc(35px + (48 - 35) * ((100vw - 320px) / (1210 - 320)));

   }
   .head__main ul{
      column-gap: calc(30px + (50 - 30) * ((100vw - 320px) / (1210 - 320)));
   }
}

.section__hi {
   padding-bottom: 289px;
}

.section__hi-title {
   font-weight: 600;
   font-size:calc(50px + (64 - 50) * ((100vw - 320px) / (1210 - 320)));
   line-height: 150%;
   max-width: 820px;
   text-align: center;
   margin: 0px auto;
   margin-bottom: 40px;

}
.section__hi-subtitle {
   font-weight: 500;
   font-size: 24px;
   line-height: 200%;
   max-width: 784px;
   text-align: center;
   margin: 0px auto;
}
@media(max-width:568px){
   ._actives{
      transform: translateY(100%);
      transition: all 0.5s ease 0s;
   }
}
.section__offers{
   position: relative;
   background-color: #F1F1FD;

}


.block__fly {
   padding: 60px 48px;
   display: flex;
   position: absolute;
   
   top: -50px;
   background-color: #ffffff;
   margin: 0px auto;
   border-radius:  0px 50px 50px 50px;
   justify-content: flex-start;
   flex-wrap: wrap;
   
   
   
}

.city {
   display: flex;
   max-width: 381.59px;
   border-radius: 25px;
   border: 1px solid #bebdbd;
   align-items: center;
   padding: 41.5px 26px;
   column-gap: 39px;
   max-width: 381px;
   margin-right: 31px;
   flex: 1 1 100%;
   
}

.city__title {
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
   color: #000000;
   margin-bottom: 4px;
}
.city .city__subtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 36px;
   color: #000000;
   border: 1px #bebdbd solid;
   border-radius:10px ;
   max-width: 105px;
   padding-left: 4px;
   
}

.date {
   display: flex;
   max-width: 477px;
   border-radius: 25px;
   border: 1px solid #bebdbd;
   align-items: center;
   padding: 41.5px 49px;
   column-gap: 49px;
   max-width: 477px;
   margin-right: 40px;
   
}
.date__from .city__title {
   background: url("../img/blockfly/planeright.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: auto;
   background-position-x: 60px;
}
.date .city__subtitle {
   border: 1px #cecdcd solid;
   border-radius:10px ;
   max-width: 120px;
   font-weight: 500;
   font-size: 20px;
   line-height: 36px;
   padding-left: 4px;
     
}
.date__img {
}
.smallsearch__img{
   display: none;
}
.date__go .city__title{
   background: url("../img/blockfly/planeleft.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-position-x: 70px;

}
.section__choice {
   position: absolute;
   z-index: 5;
   max-width: 279px;
   max-height: 100px;
   border-radius: 25px 25px 0px 0px;
   background-color: #ffffff;
   display: flex;
   padding: 10px 10px 24px 10px;
   top: -150px;
}
.choise__fight {
   display: flex;
   align-items: center;
   padding: 15.5px 20.5px;
   transition: all 0.5s ease 0s;
   border-radius: 25px;
   background-color: rgba(62, 134, 245, 0.2);
}

.fight__icon {
   margin-right: 5px;
}
.fight__text {
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
   color: #000000;
}
.choise__hotel {
   display: flex;
   align-items: center;
   padding: 15.5px 20.5px;
   border-radius: 25px;
}
.hotel__icon {
   margin-right: 5px;
}
.hotel__text {
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
   color: #000000;

}
.block__fly-search img{
   border-radius: 65px;
}
.block__fly-search img:hover  {
   box-shadow: 3px 4px 10px #b8b7b7;
   border-radius: 65px;
   transition: all 0.3s ease 0s;
   transform: translateY(-5px);
}
@media(max-width:1209px){
   .date {
      display: flex;
      max-width: 381.59px;
      border-radius: 25px;
      border: 1px solid #bebdbd;
      align-items: center;
      padding: 41.5px 25px;
      column-gap: 29px;
      max-width: 477px;
      margin-right: 40px;
      
   }
   .block__fly{
      row-gap: 20px;
   }  
   .city{
      flex-basis: 100%;
      max-width: none;
      margin-right: 0;
      justify-content: center;
   }
   .date{
      flex-basis: 100%;
      max-width: none;
      margin-right: 0;
      justify-content: center;
   }
   .smallsearch__img{
      display: block;
      z-index: 100;
      width: 50px;
   }
   .block__fly-search{
      display: none;
   }

}
@media(max-width:590px){
   .city{
      flex-direction: column;
      row-gap: 10px;
      align-items: flex-start;
   }
   .city .city__subtitle{
      max-width: 200px;
      
   }
   .date .city__subtitle{
      max-width: 200px;
      
   }
   .date{
      flex-direction: column;
      row-gap: 10px;
      align-items: flex-start;
   }
   .block__fly{
      padding: 30px 15px;
   }
}
.section__cards {
   background-color: #F1F1FD;
   
}
.section__card-title {
   padding-top: 400px;
   
}
.title {
   font-weight: 600;
   font-size:calc(35px + (48 - 35) * ((100vw - 320px) / (1210 - 320)));
   line-height: 150%;
   text-align: center;
   padding: 0px 10px;
   color: #000000;

}
.section__cards-choose {
   display: flex;
   justify-content: space-between;
   margin: 0px auto;
   max-width: 340px;
   padding: 10px 10px;
   background-color: #FFFFFF;
   border-radius: 10px;
   margin-bottom:calc(50px + (260 - 50) * ((100vw - 320px) / (1210 - 320)));

}
.cards__choose {
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   color: rgba(0, 0, 0, 0.5);
   padding: 10px 24px;
  
   
}
.choose__blue{
   border-radius: 10px;
   background-color: rgb(4, 212, 212);
   color: #FFFFFF;
   box-shadow: 0px 4px 4px #cecdcd;
   
}
.section__cards-items {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   row-gap: 15px;
   column-gap: 5px;
   padding-bottom: 80px;
   
}
.cards__item {
   max-width: 380px;
   padding: 21px 60px 25px 27px;
   background-color: #FFFFFF;
   border-radius: 50px;
   box-shadow:0px 2px 2px rgba(0, 0, 0, 0.25);
   transition: all 0.3s ease ;
}
.cards__item:hover {
   
   box-shadow:0px 2px 5px rgba(0, 0, 0, 0.25);
   transform: translateY(-6px);
}
.item__top {
   display:flex ;
   position: relative;
   margin-bottom: 20px;
}
.item__top-img {
   
}
.item__top-date {
   position: absolute;
   top: 120px;
   right: -130px;
   z-index: 6;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   letter-spacing: 0.5em;
   color: rgba(0, 0, 0, 0.5);
   text-transform: uppercase;
   transform: rotate(90deg);
   
   
}
.item__center {
   padding-left: 20px;
   
}
.item__center-days {
   display: flex;
   margin-bottom: 10px;
}
.days__vid {
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   border-radius: 100px;
   padding: 0px 15px;
   display: inline-block;
   margin-right: 12px;

}
.vid__pink {
   color: #F178B6;
   background-color: #FCDDEC;

}
.vid__blue{
   color: #7879F1;
   background-color: #F1F1FD;
}
.days__day {
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   color: rgba(0, 0, 0, 0.5);

}
.item__center-title {
   font-weight: 600;
   font-size: 24px;
   line-height: 36px;
   color: #000000;

}
.item__bottom {
   padding-left: 20px;
   
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.item__bottom-price {
   font-weight: 500;
   font-size: 24px;
   line-height: 36px;
   color: #000000;

}
.item__bottom-price span {
   color: rgba(0, 0, 0, 0.5);
   font-size: 18px;
}
.item__bottom-book {
   background: #F2F6FF;
   border-radius: 10px;
   font-size: 14px;
   line-height: 21px;
   color: #3E86F5;
   padding: 13px 19px;
}

@media(max-width:1209px){
   .section__card-title {
      padding-top: 440px;
      margin-bottom: 40px;
   }
}
@media(max-width:794px){
   .section__cards-items{
      justify-content: center;
   } 
}
@media(max-width:590px){
   .section__card-title {
      padding-top: 740px;
      margin-bottom: 40px;
   }
}
@media(max-width:400px){
   .item__top-date {
      position: static;
      z-index: 6;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.5em;
      color: rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      transform: rotate(0);
      padding-left: 20px;
      margin-top: 10px;
   }
   .item__top {
      display: block;
         
   }
   .cards__item {
      padding: 21px 10px 25px 10px;
   }
   .cards__choose {
      padding: 10px 15px;
   }
   .section__cards-choose {
      justify-content: space-around;
      column-gap: 8px;
   }
}
.section__travel {
   background-color: #F1F1FD;
}
.section__travel-conteiner {
   display: flex;
   column-gap: 120px;
   align-items: center;
   padding-bottom:calc(50px + (120 - 50) * ((100vw - 320px) / (1210 - 320)));
}
.conteiner {
}
.section__travel-conteiner{

  
}
.travel__left {
   position: relative;
   max-width: 480px;
}
.travel__left-img img{
   border-radius: 75px;
   max-width: 100%;
}
.travel__left-img {
   flex: 1 1 50%;
  
}
.travel__left-number {
   border-radius: 35px;
   padding: 27px 30px;
   background-color: #FFFFFF;
   display: inline-block;
   position: absolute;
   top: 56px;
   right: -90px;

}
.travel__left-number2 {
   border-radius: 35px;
   padding: 27px 45px;
   background-color: #FFFFFF;
   display: inline-block;
   position: absolute;
   top: 537px;
   right: -90px;

}
.travel__left-number3 {
   border-radius: 35px;
   padding: 27px 30px;
   background-color: #FFFFFF;
   display: inline-block;
   position: absolute;
   bottom:0;
   left: 0;

}
.left__number-num {
   font-weight: 600;
   font-size: 36px;
   text-align: center;
   color: #3E86F5;
}
.left__number-text {
   font-weight: 300;
   font-size: 18px;
   line-height: 27px;
   color: #000000;
   text-transform: uppercase;
   text-align: center;
}

.travel__right {
   max-width: 580px;
   flex: 1 1 50%;

}
.travel__right-title {
   text-align: left;
   margin-bottom: 20px;
}
.title {
}
.travel__right-subtitle {
   font-weight: 400;
   font-size: 20px;
   line-height: 200%;
   color: rgba(0, 0, 0, 0.5);
   margin-bottom: 40px;

}
.travel__right-subtitle span {
   display: inline-block;
   margin-top: 40px;
}
.travel__right-contact {
   display: inline-block;
   font-size: 20px;
   line-height: 30px;
   color: #FFFFFF;
   padding: 23px 34px;
   background-color: rgba(62, 134, 245);
   border-radius: 10px;
   box-shadow: 2px 2px 6px #a8a8e9;
}
.travel__right-contact:hover{
   transition: all 0.3s ease;
   box-shadow: 4px 8px 20px #a8a8e9;
   transform: translate(0px,-6px);
}
@media(max-width:1076px){
   .section__travel-conteiner {
      display: flex;
      column-gap: 120px;
      row-gap: 30px;
      align-items: center;
      flex-direction: column-reverse;

   }
   .section__travel-right{
      max-width: 100%;
      text-align: center;
   }
   .travel__right-title {
      text-align: center;
   }
   .travel__left-number {
      padding: 10px 15px;
      top:0px;
      right:0px;
   
   }
   .travel__left-number2 {
      padding: 10px 30px;
      top: 85%;
      right: 0px;
   
   }
   .travel__left-number3 {
      padding: 10px 15px;
   }
   .left__number-num {
      font-size: 25px;
      
   }
   .left__number-text {
      font-size: 13px;
      
   }
}
.section__recommended {
   background-color: #F1F1FD;
   padding-bottom: calc(60px + (200 - 60) * ((100vw - 320px) / (1210 - 320)));
}

.section__recommended-title {
   margin-bottom: 40px;
}

.section__recommended-choose {
   display: flex;
   max-width: 400px;
   justify-content: space-between;
   margin: 0px auto;
   column-gap: 10px;
   margin-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1210 - 320)));
}
.recommended__choose {
   font-weight: 600;
   font-size: 18px;
   line-height: 27px;
   color: rgba(0, 0, 0, 0.5);
   padding: 10px calc(10px + (23 - 10) * ((100vw - 320px) / (1210 - 320)));
   border-radius: 10px;
   

}
.recommended__choose:hover {
   transition: all 0.3s ease;
   color: #3E86F5;
   background-color: white;

}
.section__recommended-geocards {
   display: flex;
   justify-content: space-between;
   column-gap: 10px;
   flex-wrap: wrap;
   row-gap: 20px;

}

.geocard {
   padding: 10px 10px;
   background-color: #FFFFFF;
   border-radius: 25px;
   max-width: 280px;
   box-shadow:0px 2px 2px rgba(0, 0, 0, 0.25);
   transition: all 0.3s ease ;
}
.geocard:hover {
   
   box-shadow:0px 2px 5px rgba(0, 0, 0, 0.25);
   transform: translateY(-6px);

}
.geocard-img{
   position: relative;
   margin-bottom: 20px;
}
.geocard-img img {
   border-radius: 25px;
}
.geocard__img-rate {
   position: absolute;
   top: 15px;
   right: 15px;
   background-color: white;
   display: flex;
   padding: 1px 10px;
   border-radius: 25px;
   align-items: center;
}

.img__rate {
   font-weight: 500;
   font-size: 12px;
   line-height: 18px;
   color: #000000;
   margin-right: 2px;

}
.geocard__name {
   font-weight: 600;
   font-size: 18px;
   line-height: 27px;
   color: #000000;
   padding-left: 20px;
   margin-bottom: 5px;

}
.geocard__country {
   padding-left: 20px;
   display: flex;
   align-items: center;
}
.country__name {
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   color: rgba(0, 0, 0, 0.5);

}
@media(max-width:599px){
   .section__recommended-geocards {
      justify-content: space-around;
   }
}
.section__reviews {
   background-color: #F1F1FD;
   padding-bottom: 136px;
}
.section__reviews-conteiner {
   display: flex;
   justify-content: space-between;
   column-gap: 10px;
}

.review {
   padding: 84px 25px 65px 47px;
   padding-left:calc(15px + (47 - 15) * ((100vw - 320px) / (1210 - 320))); ;
   background-color: #FFFFFF;
   max-width: 580px;
   border-radius: 50px;
   background-image: url("../img/reviews/quote.svg");
   background-repeat:no-repeat;
   background-position: center 36px;
   position: relative;
   margin-bottom: 85px;
   flex: 1 1 50%;
   box-shadow:0px 2px 2px rgba(0, 0, 0, 0.25);
}
.review__text {
   font-weight: 500;
   font-size: 20px;
   line-height: 42px;
   text-align: center;
   color: #000000;
   text-align: center;
   margin-bottom: 10px;
}
.review__name {
   font-weight: 500;
   font-size: 20px;
   line-height: 42px;
   text-align: center;
   color: #3E86F5;
}
.review__happy {
   font-weight: 500;
   font-size: 20px;
   line-height: 42px;
   text-align: center;
   color: rgba(0, 0, 0, 0.5);
   
}
.review__img {
   position: absolute;
   left: 37%;
   width: 179.5px;
	height: 134px;
	background-color:white;
	-moz-border-radius: 179.5px / 134px;
	-webkit-border-radius: 179.5px / 134px;
	border-radius: 179.5px / 134px;
   padding: 24px 40px 10px 40px;
   box-shadow:0px 2px 2px rgba(0, 0, 0, 0.25);
}
.review__img img{
   border-radius: 50%;
}
.review__star {
   border-radius: 25px;
   padding: 1px 5px 1px 21px;
   z-index: 5;
   position: absolute;
   top: 32px;
   right: 31.5px;
   font-weight: 500;
   font-size: 12px;
   line-height: 18px;
   color: #000000;
   background-image: url("../img/reviews/Star.svg");
   background-repeat: no-repeat;
   background-position-x:6px;
   background-color: white;

}
@media(max-width:889px){
   .section__reviews-conteiner {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
   }

}
@media(max-width:600px){
   .review__img {
      left:calc(57px + (207 - 57) * ((100vw - 320px) / (600 - 320)));
      
   }
}

.section__bottom {
   background-color: #F1F1FD;
}
.section__bottom-block{
   border-radius: 100px;
   background-image: url("../img/bottom/back.jpg");
   background-repeat: no-repeat;
   height: 500px;
   max-width: 1210px;
   background-size: cover;
   text-align: center;
   
   
}

.section__bottom-title {
   color: white;
   max-width: 734px;
   margin:0px auto;
   font-size:calc(30px + (48 - 30) * ((100vw - 320px) / (1210 - 320)));
   line-height: 150%;
   margin-bottom: 40px;
   padding-top: 114px;
   
}

.section__bottom-button  {
   border-radius: 25px;
   background-color: white;
   display: inline-block;
   padding-top:calc(15px + (25 - 15) * ((100vw - 320px) / (1210 - 320)));
   padding-bottom:calc(15px + (25 - 15) * ((100vw - 320px) / (1210 - 320)));
   padding-left:calc(25px + (35 - 25) * ((100vw - 320px) / (1210 - 320)));
   padding-right:calc(25px + (35 - 25) * ((100vw - 320px) / (1210 - 320)));
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   color: #3E86F5;
   
}
.footer {
   background-color: #F1F1FD;
}
.footer__conteiner {
   padding-top: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;

}

.footer__certificate {
   font-weight: 500;
   font-size:calc(13px + (20 - 13) * ((100vw - 320px) / (1210 - 320)));
   line-height: 42px;
   color: rgba(0, 0, 0, 0.5);
   min-width: 320px;
   padding-right: 20px;
}
.footer__main ul{
   display: flex;
   column-gap:calc(20px + (50 - 20) * ((100vw - 320px) / (1210 - 320)));
   row-gap: 20px;
   flex-wrap: wrap;
   
   
}
.footer__main ul li a{
   font-weight: 500;
   font-size:calc(18px + (24 - 18) * ((100vw - 320px) / (1210 - 320)));
   line-height: 150%;
   color: rgba(0, 0, 0, 0.75);

}
@media(max-width:828px){
   .footer__conteiner {
      flex-direction: column-reverse;
      align-items: flex-start;
   }
   .footer__certificate {
      padding-right: 0px;
   }
}
